<div id="<%= dom_id reaction %>">
  <p>
    <strong>Kind:</strong>
    <%= reaction.kind %>
  </p>

  <p>
    <strong>Reaction type:</strong>
    <%= reaction.reaction_type %>
  </p>

  <p>
    <strong>Joboffer:</strong>
    <%= reaction.joboffer_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reaction.user_id %>
  </p>

</div>
